a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

*, :after, :before {
    box-sizing: border-box
}

*, :after, :before {
    box-sizing: border-box
}

html {
    font-synthesis: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smooth: antialiased;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    font-weight: 400;
    font-display: swap;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    color: #444;
    line-height: 1.6;
    font-size: 1.4rem
}

button {
    cursor: pointer;
    padding: 0;
    background-color: inherit
}

img {
    width: 100%;
    height: auto
}

a {
    text-decoration: none
}

strong {
    font-weight: 700
}

@media screen and (max-width: 640px) {
    html {
        font-size: 59%
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 62.5%
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 62.5%
    }
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../fonts/sourcesanspro-400-normal.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../fonts/sourcesanspro-700-normal.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-display: swap
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../fonts/sourcesanspro-400-italic.woff2) format('woff2');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    font-display: swap
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../fonts/sourcesanspro-700-italic.woff2) format('woff2');
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    font-display: swap
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block
}

[hidden] {
    display: none
}

body {
    line-height: 1
}

menu, ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    -webkit-scrollbar-width: none !important;
    -moz-scrollbar-width: none !important;
    -ms-scrollbar-width: none !important;
    scrollbar-width: none !important;
    box-sizing: border-box;
    font-size: 59%
}

html::-webkit-scrollbar {
    display: none
}

*, :after, :before {
    box-sizing: border-box
}

body {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    font-synthesis: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 400;
    font-display: swap
}

button {
    cursor: pointer;
    padding: 0;
    background-color: inherit
}

img {
    width: 100%;
    height: auto
}

a {
    -webkit-text-decoration: none;
    text-decoration: none
}

strong {
    font-weight: 700
}

data-styled.g2[id=sc-global-iKAKTM1] {
    content: "sc-global-iKAKTM1,"
}

.exDmCT {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50vh;
    background-image: url(../images/me.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: .8rem .8rem 0 0
}

@media screen and (min-width: 1024px) {
    .exDmCT {
        width: 45%;
        height: auto
    }
}

@media screen and (min-width: 1024px) {
    .exDmCT {
        border-radius: .8rem 0 0 .8rem
    }
}

data-styled.g3[id=sc-aXZVg] {
    content: "exDmCT,"
}

.fsqrWJ {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 1.3rem 0 2rem 0
}

data-styled.g4[id=sc-gEvEer] {
    content: "fsqrWJ,"
}

.fBhKxe {
    width: 2.6em;
    border-bottom: 2px solid;
    border-color: inherit;
    border-radius: 1px
}

data-styled.g5[id=sc-eqUAAy] {
    content: "fBhKxe,"
}

.bbDlUd {
    font-size: 2.565rem;
    line-height: 2.94975rem;
    margin-bottom: 1.5rem
}

@media screen and (min-width: 1024px) {
    .bbDlUd {
        font-size: 2.8499999999999996rem;
        line-height: 3.2774999999999994rem;
        margin-bottom: 1.875rem
    }
}

@media screen and (min-width: 1024px) {
    .bbDlUd {
        max-width: 40vw
    }
}

data-styled.g6[id=sc-fqkvVR] {
    content: "bbDlUd,"
}

.ejwIXe {
    font-size: 3.8475rem;
    line-height: 4.2322500000000005rem;
    margin-bottom: .675rem;
    font-weight: 700;
    -webkit-letter-spacing: -.04rem;
    -moz-letter-spacing: -.04rem;
    -ms-letter-spacing: -.04rem;
    letter-spacing: -.04rem
}

@media screen and (min-width: 1024px) {
    .ejwIXe {
        font-size: 4.2749999999999995rem;
        line-height: 4.7025rem;
        margin-bottom: 1.0499999999999998rem
    }
}

@media screen and (min-width: 1024px) {
    .ejwIXe {
        max-width: 40vw
    }
}

data-styled.g7[id=sc-dcJsrY] {
    content: "ejwIXe,"
}

.ewrNiO {
    width: 4.369999999999999rem;
    display: block;
    color: inherit;
    padding: 0;
    cursor: pointer
}

.ewrNiO:hover {
    opacity: .8
}

data-styled.g9[id=sc-gsFSXq] {
    content: "ewrNiO,"
}

.dDYuSy {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 2rem;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left
}

@media screen and (min-width: 1024px) {
    .dDYuSy {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
}

.dDYuSy img {
    -webkit-transition: width .3s;
    transition: width .3s;
    max-width: 14.4rem;
    min-width: 0;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center
}

@media screen and (min-width: 1024px) {
    .dDYuSy img {
        max-width: 16rem
    }
}

data-styled.g11[id=sc-imWYAI] {
    content: "dDYuSy,"
}

.fYNhZn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start
}

data-styled.g12[id=sc-jXbUNg] {
    content: "fYNhZn,"
}

.krTnEn {
    width: 100%;
    overflow: hidden;
    color: rgba(0, 0, 0, .75);
    white-space: pre-wrap;
    word-break: break-word
}

.krTnEn strong {
    font-weight: 700
}

.krTnEn em {
    font-style: italic
}

.krTnEn br {
    line-height: .6
}

data-styled.g15[id=sc-dAlyuH] {
    content: "krTnEn,"
}

.eohvJM {
    font-size: 1.71rem;
    line-height: 2.565rem
}

@media screen and (min-width: 1024px) {
    .eohvJM {
        font-size: 1.9rem;
        line-height: 2.8499999999999996rem
    }
}

data-styled.g17[id=sc-cwHptR] {
    content: "eohvJM,"
}

.hyPQRL {
    width: 100%;
    white-space: pre-wrap;
    margin-bottom: 3rem;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden
}

@media screen and (min-width: 1024px) {
    .hyPQRL {
        max-width: 40vw
    }
}

.hyPQRL strong {
    font-weight: 700
}

.hyPQRL em {
    font-style: italic
}

.hyPQRL br {
    line-height: .6
}

.hyPQRL a {
    -webkit-text-decoration: underline;
    text-decoration: underline;
    color: inherit
}

data-styled.g19[id=sc-cPiKLX] {
    content: "hyPQRL,"
}

.fVbRqZ {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

data-styled.g20[id=sc-dLMFU] {
    content: "fVbRqZ,"
}

.ekYVbq {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: .6rem;
    border-radius: 4px;
    font-weight: 700;
    font-size: 1.71rem;
    cursor: pointer;
    padding: 1.1rem 1.6rem 1rem 1.6rem;
    background-color: #212121;
    color: #fff;
    -webkit-transition: .3s;
    transition: .3s
}

@media screen and (min-width: 1024px) {
    .ekYVbq {
        font-size: 1.9rem
    }
}

.ekYVbq:hover {
    box-shadow: 1rem 1rem 3.15rem 0 rgba(0, 0, 0, .25)
}

data-styled.g21[id=sc-eDPEul] {
    content: "ekYVbq,"
}

.fwzUQr {
    padding: 0 .6rem 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.fwzUQr svg {
    height: 1.71rem;
    margin: 0;
    padding: 0;
    fill: #fff
}

@media screen and (min-width: 1024px) {
    .fwzUQr svg {
        height: 1.9rem
    }
}

data-styled.g22[id=sc-eldPxv] {
    content: "fwzUQr,"
}

.gOhcFB {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 95%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    box-shadow: 0 10px 90px rgba(0, 0, 0, .25);
    border-radius: .8rem;
    -webkit-animation: fadeIn 2s ease;
    animation: fadeIn 2s ease;
    -webkit-transition: width .3s;
    transition: width .3s
}

/*!sc*/@media screen and (min-width: 1024px) {
    .gOhcFB {
        width: auto;
        width: 90vw;
        min-height: 40rem;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }
}

@media screen and (min-width: 1280px) {
    .gOhcFB {
        max-width: 1000px;
        width: 60vw
    }
}

data-styled.g23[id=sc-fPXMVe] {
    content: "gOhcFB,"
}

.jrwBVc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    border-radius: 0 0 .8rem .8rem;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: #fff;
    padding: 3.5999999999999996rem
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.jrwBVc > :first-child {
    margin-top: 0 !important;
    margin-left: 0 !important
}

.jrwBVc > :last-child {
    margin-bottom: 0 !important;
    margin-right: 0 !important
}

@media screen and (min-width: 1024px) {
    .jrwBVc {
        max-height: 70rem;
        overflow-y: auto;
        width: 55%;
        border-radius: 0 .8rem .8rem 0
    }
}

@media screen and (min-width: 1024px) {
    .jrwBVc {
        padding: 6rem
    }
}

data-styled.g24[id=sc-gFqAkR] {
    content: "jrwBVc,"
}

.kjIYXU > :first-child {
    margin-top: 0 !important;
    margin-left: 0 !important
}

.kjIYXU > :last-child {
    margin-bottom: 0 !important;
    margin-right: 0 !important
}

data-styled.g25[id=sc-ikkxIA] {
    content: "kjIYXU,"
}

.fpsfRt {
    width: 100%;
    min-height: 100vh;
    padding: 5% 2.5%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #6a8b7c;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    color: #000000D9;
    font-family: Source Sans Pro, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif
}

@media screen and (min-width: 1024px) {
    .fpsfRt {
        padding: 2.5%
    }
}

data-styled.g27[id=sc-dAbbOL] {
    content: "fpsfRt,"
}